.category-card {
    border: none;
    /* border-radius: 12px; */
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  .category-card img {
    /* width: 100%; */
    /* height: 140px; */
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
  
  .category-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
  
  .category-card h6 {
    font-size: 0.95rem;
    color: #333;
  }
  